<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap"
 rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/index.css">
<link rel="stylesheet" href="/stylesheets/reg.css">
	
<title>AllBooks - Sign Up</title>
</head>
<body>
	
	<div class='cover'></div>
	
	<header>
            <div class="logo-cont">
                <img src="/imgs/open-book.png" alt="logo">
                <h4 class="logo">AllBooks</h4>
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a class="nav-link" href="/login">Login</a></li>
                    <li><a class="nav-link" href="/signup">Sign Up</a></li>
                    <li><a class="nav-link" href="/">Log Out</a></li>
                </ul>
            </nav>
        </header>

<p class="heading">Register</p>

  <div class="container">

    <form action="/api/signup" method="POST">
      <label class="form__required" for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label class="form__required" for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email-ID" name="email" required>

      <label for="dob"><b>Date of Birth</b></label>
      <input type="date" placeholder="" name="dob">

      <label class="form__required" for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
          
      <button type="submit">Sign Up</button>
    </form>
    
  </div>

  <!-- <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div> -->
</form>

</body>
</html>