* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
	/* background: linear-gradient(white 25%, #c7dffa 75%, rgba(0, 0, 0, 0.2)); */
	background: url('/imgs/index-bg.svg') center/cover; 
}

button {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	/* left: 5%; */
	z-index: 1;
    width: 100%;
    height: 10vh;
    margin: auto;
    align-items: center;
	background: linear-gradient(white 50%, rgba(255, 255, 255, 0.75));
}

.logo-cont {
	display: flex;
    /* flex: 1; */
	margin-left: 2.5%;
}

.logo-cont img {
    cursor: pointer;
}

.logo {
    margin: 5px;
    font-weight: 300;
    cursor: pointer;
}

nav {
    /* flex: 1; */
	display: flex;
	margin-right: 2.5%;
}

.nav-links {
	display: flex;
    list-style: none;
}

.nav-link {
    /* color: #5f5f79; */
	margin: 0 2.3rem;
	/* color: rgba(0, 0, 0, 0.75); */
    font-size: 19px;
    /* text-decoration: none; */
	transition: 0.3s;
}

.nav-link a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.75);
}

.nav-link:hover,
.nav-link:active {
	background: rgba(149, 165, 166, 0.25);
	color: #2c3e50;
	padding: 5px 3px;
	border-radius: 5px;
	font-size: 17px;
}

.user-logo {
	width: 20px;
	vertical-align: sub;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}

.intro {
    flex: 1;
    position: absolute;
	z-index: 0;
    top: 60%;
    left: 55%;
    transform: translate(-5%, -50%);
	cursor: default;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 700;
    background: linear-gradient(to right, #1b1be6, #5454e4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 7px;
    font-size: 22px;
}

.cover {
    flex: 1;
	margin-top: 5.25%;
}

.cover img {
    width: 100%;
}

.act {
    padding: 50px 0 0 0;
}

.act-select {
    border: none;
    border-radius: 1px;
    background: #3434bd;
    color: white;
    width: 150px;
    height: 50px;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
	transition: 0.2s;
}

.act-select:hover,
.act-select:active {
    background: #2626d3;
	transform: scale(1.1);
	border-radius: 5px;
}

.act-select:focus {
	outline: none;
}

.ad-banner {
	display: block;
	text-decoration: none;
	width: 90%;
	margin: 2% auto;
	background: url('/imgs/ad-bg.gif') center/cover;
	color: white;
	text-align: center;
	cursor: pointer;
}

.ad__header {
	font-size: 130px;
	font-weight: 700;
}

.ad__subheader {
	font-size: 45px;
	padding-bottom: 2.5%;
}

.error-box {
	position: fixed;
	top: -15%;
	left: 37.3%;
	background: #d63031;
	color: white;
	font-size: 17px;
	text-align: center;
	width: 25.5%;
	padding: 0.7rem 0;
	border-radius: 5px;
	box-shadow: 0 5px 3px 1px rgba(0,0,0,0.4);
	cursor: default;
	animation: slideIn 1s forwards, getOut 10s forwards;
}

.fade-out {
	animation: getOut 3s;
	animation-fill-mode: forwards;
	animation-delay: 4s;
}

@keyframes slideIn {
	100% {
		top: 88%;
	}
}

@keyframes getOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

footer {
	background: black;
	width: 90%;
	margin: 32px auto 0 auto;
	padding: 16px;
}

.footer__links {
	text-align: center;
}

.footer__link {
	display: inline-block;
	margin: 10px 30px;
}

.footer__link a {
	text-decoration: none;
	color: white;
	font-size: 17px;
}