main {
	margin: 10%;
}

.search-box {
	position: absolute;
	top: 15%;
	left: 27.5%;
	background: whitesmoke;
	border-radius: 40px;
	border: 0.5px solid #535c68;
}

.search__txt {
	border: none;
	background: none;
	outline: none;
	float: left;
	margin: 5px;
	padding: 16px;
	color: #535c68;
	height: 40px;
	width: 40vw;
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
}

.search__btn {
	border: none;
	border-left: 0.5px solid #535c68;
	color: #535c68;
	background: none;
	width: 50px;
	height: 50px;
	border-radius: 0 50% 50% 0;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.25s;
}

.search__btn:hover,
.search__btn:active {
	cursor: pointer;
	background: #535c68;
	color: whitesmoke;
}

.container {
	width: 100%;
	margin-top: 18%;
}

.row {
	display: flex;
  	justify-content: space-between;
  	flex-wrap: wrap;
}

.book {
	/* width: 25%; */
	flex: 0 1 21%;
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px 0;
	transition: 0.3s;
}

.book:hover,
.book:after {
	transform: scale(1.02);
	box-shadow: 0 0 40px -10px rgba(0,0,0,0.4);
}

.book__image {
	display: block;
	width: 60%;
	margin: 5px auto;
}

.book__name {
	text-align: center;
	padding: 5px;
	cursor: default;
}

.add__btn {
	display: block;
	text-decoration: none;
	color: white;
	background: red;
	text-align: center;
	margin: 5px 20px;
	padding: 5px 0;
	border-radius: 3px;
	transition: 0.3s;
}

.add__btn:hover,
.add__btn:after {
	transform: scale(1.1);
	box-shadow: 0 0 40px -10px rgba(0,0,0,0.4);
}

footer {
	width: 100%;
}