body {
	background: #dff9fb;
}

main {
	margin: 8%;
	padding: 3%;
}

.heading {
	padding-left: 10%;
	cursor: default;
}

.cart {
	background: #7efff5;
	border-radius: 5px;
	box-shadow: 0 0 40px -10px rgba(0,0,0,0.4);
	width: 100%;
	margin-top: 10%;
	padding: 0 3%;
}

.cart__header {
	display: inline-block;
	margin-bottom: 1.5%;
	padding-top: 2%;
	font-weight: 300;
	cursor: default;
}

.cart__logo {
	display: inline-block;
	width: 2.5%;
	vertical-align: sub;
}

.explore-btn {
	display: inline-block;
	text-decoration: none;
	float: right;
	margin-top: 2%;
	font-size: 16px;
	font-weight: 700;
	background: #12CBC4;
	color: white;
	padding: 3.5px 7px;
	border-radius: 3px;
	transition: 0.2s;
}

.explore-btn:hover,
.explore-btn:active {
	transform: scale(1.25);
	color: black;
	font-size: 15px;
}

.empty {
	padding-bottom: 1%;
}

.row {
	display: flex;
  	justify-content: space-around;
  	flex-wrap: wrap;
}

.book {
	/* width: 25%; */
	flex: 0 1 21%;
	background: rgba(255,255,255,0.5);
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 10px 0;
	transition: 0.3s;
}

.book:hover,
.book:after {
	transform: scale(1.02);
	box-shadow: 0 0 40px -10px rgba(0,0,0,0.4);
}

.book__image {
	display: block;
	width: 60%;
	margin: 5px auto;
}

.book__name {
	text-align: center;
	padding: 5px;
	cursor: default;
}

.add__form {
	text-align: center;
}

.add__btn {
	border: none;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	width: 70%;
	color: white;
	background: red;
	text-align: center;
	margin: 5px auto;
	padding: 5px 40px;
	border-radius: 3px;
	transition: 0.3s;
	cursor: pointer;
}

.add__btn:hover,
.add__btn:after {
	transform: scale(1.1);
	box-shadow: 0 0 40px -10px rgba(0,0,0,0.4);
}

footer {
	width: 100%;
}